<mat-toolbar class="container" color="primary">
  <mat-toolbar-row>
    <span>Welcome to HR Management - {{title}}</span>
    <span class="toolbar-spacer"></span>
    <span>Logout</span>
    <a [routerLink]="[ '/logout']"><mat-icon class="logout-icon">logout</mat-icon></a>
  </mat-toolbar-row>
</mat-toolbar>

<div>
  <button mat-fab matTooltip="Return Dashboard" [routerLink]="['/dashboard']">
    <mat-icon>arrow_left</mat-icon>
  </button>
  <button mat-fab matTooltip="Add Project" (click)="showForm(1)">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div *ngIf="showFormValue">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <mat-form-field>
      <input matInput type="text" formControlName="name" placeholder="name">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" formControlName="clientName" placeholder="clientName">
    </mat-form-field>

    <button mat-button type="submit">
      <mat-icon>save</mat-icon> {{nameButton}}
    </button>

  </form>

</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell class="centered-cell" *matHeaderCellDef> Id </th>
    <td mat-cell class="centered-cell" *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell class="centered-cell" *matHeaderCellDef> Name </th>
    <td mat-cell class="centered-cell" *matCellDef="let element">{{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="teamSize">
    <th mat-header-cell class="centered-cell" *matHeaderCellDef> Team Size </th>
    <td mat-cell class="centered-cell" *matCellDef="let element"> {{element.teamSize}} </td>
  </ng-container>

  <ng-container matColumnDef="clientName">
    <th mat-header-cell class="centered-cell" *matHeaderCellDef> Client Name </th>
    <td mat-cell class="centered-cell" *matCellDef="let element">{{element.clientName}} </td>
  </ng-container>

  <ng-container matColumnDef="favoriteColor">
    <th mat-header-cell class="centered-cell" *matHeaderCellDef> Favorite Color </th>
    <td mat-cell class="centered-cell" *matCellDef="let element">
      <div [style.backgroundColor]="element.favoriteColor">{{element.favoriteColor}}</div>
    </td>
  </ng-container>

  <ng-container matColumnDef="projectId">
    <th mat-header-cell class="centered-cell" *matHeaderCellDef> projectId </th>
    <td mat-cell class="centered-cell" *matCellDef="let element">{{element.projectId}} </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell class="centered-cell" *matHeaderCellDef> Edit </th>
    <td mat-cell class="centered-cell" *matCellDef="let row"> <button md-raised-button (click)="editProject(row)">
        <mat-icon>edit</mat-icon>
      </button> </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell class="centered-cell" *matHeaderCellDef> Delete </th>
    <td mat-cell class="centered-cell" *matCellDef="let row"> <button md-raised-button (click)="deleteProject(row)">
        <mat-icon>delete</mat-icon>
      </button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator #paginator [pageSize]="2" [pageSizeOptions]="[2, 4, 6]"></mat-paginator>
