.pokemon-catch-input-search {
    width: -webkit-fill-available;
    height: 68px;
    margin-top: 15px;
    margin-left: 15px;
    border: none;
    border-radius: 15px;
    background: aliceblue url("../../Icons/Search.png") no-repeat right ;
    background-size: 50px 50px;
    font-size: 40px;
  }