.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 15px;
  margin-right: 12px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  background: white;
  margin-top: 11px;
  margin-right: 17px;
  border-radius: 15px;
  border: none;
}
