<footer class="row-footer border-top-footer">
    <div class="container">
        <div class="row">

            <div class="col-sm-4">
                <h5 class="title-footer">Our Address</h5>
                <address>
                    123, Guayabal Street<br> Medellin <br> Colombia <br>
                    <i class="fa fa-phone"></i>: +147852147 - +12547896<br>
                    <i class="fa fa-envelope"></i>:<a href="mailto:confusion@food.net"> confusion@food.net</a>
                </address>
            </div>

            <div class="col-sm-4" style="padding-left:130px;">
                <h5 class="title-footer">Links</h5>
                <ul class="list-unstyled">
                    <li><a ng-href="#/">Home</a></li>
                    <li><a ng-href="#/contactus">Contact</a></li>
                </ul>
            </div>

            <div class="col-sm-4" style="padding-left:120px;">                
                <div class="nav navbar-nav" style="padding: 20px 10px;">
                    <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/"><i class="fa fa-facebook-square"></i></a>
                    <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>

                </div>
            </div>
        </div>
        
        <div class="row" >
            <div class="col-xs-12" >
                <p style="padding:10px;"></p>
                <p align=center><strong>© Copyright 2016 Portfolio of Assets and Liabilities</strong></p>
            </div>
        </div>
    </div>
</footer>