<div class="container" ng-controller="listAssetCtrl" ng-init="init()">

    <form name="formAssets" class="" novalidate="">
        <div class="row row-content">
            <div class="col-xs-12">
                <h2 class="titleAsset">Assents</h2>
            </div>
        </div>

        <div class="row row-content">
            <div class="col-xs-12 put-right-btn-add">
                <button class="btn btn-success btn-circle-add pull-right glyphicon glyphicon-plus" ng-click="redirectAddFormAsset()"></button>
            </div>
        </div>

        <div class="row row-content">
            <div class="table-responsive size-table">
                <table class=" table table-striped">
                    <tr>
                        <th class="th">Name</th>
                        <th class="th">Bank</th>
                        <th class="th">Investment value</th>
                        <th class="th">Acquisition date</th>
                        <th class="th">Expiration date</th>
                        <th class="th">Rate</th>
                        <th class="th">Monthly payment</th>
                        <th class="th">Num of shares</th>
                        <th class="th">Val per share</th>
                        <th class="th">Delete</th>
                        <th class="th">Edit</th>
                    </tr>

                    <tr ng-repeat="assetItem in assetListData">
                        <td>{{assetItem.name}}</td>
                        <td>{{assetItem.bank}}</td>
                        <td>{{assetItem.investmentValue}}</td>
                        <td>{{assetItem.acquisitionDate}}</td>
                        <td>{{assetItem.expirationDate}}</td>
                        <td>{{assetItem.monthlyPayment}}</td>
                        <td>{{assetItem.rate}}</td>
                        <td>{{assetItem.valueShare}}</td>
                        <td>{{assetItem.numberShare}}</td>
                        <td><button class="btn btn-danger btn-circle glyphicon glyphicon-remove" ng-click="deleteAsset(assetItem)"></button></td>
                        <td><button class="btn btn-primary btn-circle glyphicon glyphicon-edit" ng-click="editAsset(assetItem)"></button></td>
                    </tr>

                </table>
            </div>
        </div>


    </form>
</div>