.pokemon-order-button-open-filter {
  margin-top: 15px;
  margin-left: 10px;
}

.pokemon-order-select-button {
  width: 200px;
  height: 28px;
  background-color: #cdcdcd;
  text-align: center;
  border: none;
  border-radius: 15px;
  margin-left: 10px;
}

.pokemon-order-item {
  border-radius: 15px;
  background-color: azure;
}








