<mat-toolbar class="container" color="primary">
  <span>Welcome to HR Management</span>
</mat-toolbar>

<mat-card class="container"
 fxLayout="row" 
 fxLayout.xs="column" 
 fxLayoutWrap 
 fxLayoutGap="0.5%" 
 fxLayoutAlign="center" 
 layout="column" 
 layout-align="center center">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <mat-form-field>
        <input matInput type="text" formControlName="username" placeholder="Username">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput type="password" formControlName="password" placeholder="Password">
      </mat-form-field>
      <br>
      <button  mat-raised-button type="submit">
        LOGIN
      </button>

    </form>
  </mat-card-content>
</mat-card>

